*.swp
*.swo
testdb
Makefile
MYMETA.*
blib/
pm_to_blib
*.bak
*.tar.gz
META.*
MANIFEST
inc/
Makefile.old
workspace
local
distlocal
App-RaffiWare-ExCollect*
fatpacker.trace
packlists
fatlib
*.pid
xt
key_schema.yml
root_authority.yml
workdir
bin

t/**/log
t/**/logs
t/**/keys
t/**/replay_cache/
t/**/jobs/
t/**/.bash_history
