*.swp
*.swo
testdb
Makefile
MYMETA.*
blib/
pm_to_blib
*.bak
*.tar.gz
META.*
MANIFEST
inc/
test.log
Makefile.old
workspace
xt/access_api/excollect/job/jobs
xt/access_api/excollect/watcher/jobs
t/excollect/job/jobs
t/excollect/worker/jobs
t/excollect/cmd/watcher/jobs
t/log
xt/access_api/excollect/keys
xt/access_api/excollect/job/keys
xt/access_api/excollect/watcher/keys
local
distlocal
App-RaffiWare-ExCollect*
fatpacker.trace
packlists
fatlib
log
*.pid
keys
xt
